/MarcelJoachimKloubert.Messages/obj
/MarcelJoachimKloubert.Messages/bin
/MarcelJoachimKloubert.Messages.Tests/obj
/MarcelJoachimKloubert.Messages.Tests/bin
/MarcelJoachimKloubert.Messages.v12.suo
/MarcelJoachimKloubert.Messages.ChatExample/obj
/MarcelJoachimKloubert.Messages.ChatExample/bin
/MarcelJoachimKloubert.Messages.sln.DotSettings.user
/.vs/MarcelJoachimKloubert.Messages/v14/.suo
